* {
    box-sizing: border-box;
}
}

body {
    margin: 0;
    font-family: Arial;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}
.column1 {
    clear: both;
    width: 25%;
    padding: 10px;
}

.column img {
    opacity: 0.8; 
    cursor: pointer; 
}

.column img:hover {
    opacity: 1;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    display: none;
}
.big_photo {
    position: absolute;
    top: -6px;
    right: 15px;
    left: 400px;
    cursor: pointer;
}
img
{
    width: 250px;
    opacity: 0.5;
}
