td, th
{
	text-align: center;
	padding: 8px;
}
th {
    background-color: #660033;
    color: white;
}
tr:nth-child(even){background-color: #FFFFCC; color: black;}
tr:nth-child(odd){background-color: #996699}
#menu_sticky
{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 100px;
	position: fixed; right: 70px; top: 150px;
}
.coach
{
	text-align: justify;
	color: #CCFF33;
}
img
{
	transition: all 2s ease-in-out;
}
img:hover
{
	transform: scale(3);
}
caption
{
	font-style: italic;
	font-weight: bold;
	color: orange;
}
.menu_style1
{
	float: left;
	padding-right: 8px;
	padding-left: 18px;
	text-align: center;
	text-decoration: none;
	background-color: ;
}
